nexusapp/Nexus ScannerSmallUI.exe
nexusapp/opii10.exe
modbus-scanner-web/modbus-scanner-web.exe
nexusapp/installer.exe
nexusapp/db.sqlite3
nexusapp/nexusbus.code-workspace
nexusapp/Output/installer.exe
nexusapp/Output/nexusetup.rar
